@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* En este caso a partir de un diseño Mobile First */
<<<<<<< HEAD
/* $fondo-btn-sign: #03faee;
$fondo-article: #f9f9f8;
$primer-parrafo: #8b8fa5; */
=======
>>>>>>> mobile
/* Agregados por mi*/
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 1.6rem;
}
body .section-promo {
  background-color: #222222;
  color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
body .section-promo p:first-child {
  align-items: center;
}

header {
  align-items: center;
  background-color: #f0a83e;
  display: flex;
  justify-content: space-evenly;
  height: 6.2rem;
  padding: 2rem 0;
  width: 100%;
}
header #cat-dog {
  align-items: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
}
header #cat-dog img {
  display: block;
}
header #cat-dog span {
  color: #3c2313;
}
header .top-nav > ul {
  display: flex;
  justify-content: space-between;
}
header .top-nav > ul li {
  list-style-type: none;
  padding-right: 2rem;
}
header .top-nav > ul li a {
  color: #ffffff;
  text-decoration: none;
}
header .top-nav > ul li a:link,
header .top-nav > ul li a:visited {
  color: #ffffff;
}

main {
  width: 100%;
}
main .main-article {
  align-items: center;
  background-image: url("../img/bowl-and-pet-daities-on-green-background 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  height: 41rem;
  width: 100%;
}
main .main-article .div-main-article {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .main-article .div-main-article .subtitle h2 {
  background-color: #fff;
  border-radius: 1rem;
  color: #3c2313;
  font-size: 3rem;
  font-weight: 400;
  padding: 2rem 1.5rem;
}
main .main-article .div-main-article .subtitle p {
  color: #3c2313;
  font-size: 1.6rem;
  padding: 1rem 0;
  text-align: center;
}
main .main-article .div-main-article .article-a {
  background-color: #f0a83e;
  color: #ffffff;
  padding: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
}
main .featured-products {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
main .featured-products h1 {
  color: #3c2313;
  font-size: 4rem;
}
main .featured-products nav > ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
main .featured-products nav > ul li {
  list-style-type: none;
  padding-right: 1rem;
}
main .featured-products nav > ul li a {
  text-decoration: none;
}
main .featured-products nav > ul li a:link,
main .featured-products nav > ul li a:visited {
  color: #666666;
}
main .featured-products .cards {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  text-align: center;
}
main .featured-products .cards .product h3 {
  color: #3c2313;
}
main .featured-products .cards .product p {
  color: #f0a83e;
  font-size: 1.6rem;
}
main .section-contact {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 5rem;
}
main .section-contact > form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 26rem;
  justify-content: center;
  row-gap: 1rem;
  width: 34rem;
}
main .section-contact > form h3 {
  color: #3c2313;
  margin: 2rem auto;
}
main .section-contact > form input {
  background-color: #3c2313;
  padding: 0.8rem 1rem;
}
main .section-contact > form input,
main .section-contact > form button {
  border-radius: 1rem;
  color: #ffffff;
}
main .section-contact > form ::-moz-placeholder {
  color: #ffffff;
}
main .section-contact > form ::placeholder {
  color: #ffffff;
}
main .section-contact > form .buttons {
  align-self: center;
  border-radius: 2rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
main .section-contact > form .buttons #btn-reset {
  background-color: #8a8787;
  font-size: 1.6rem;
  padding: 0.8rem 1rem;
}
main .section-contact > form .buttons #in-send {
  background-color: #f0a83e;
  font-size: 1.6rem;
}
main .sec-news {
  align-items: center;
  background-color: #f0a83e;
  color: #ffffff;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  margin-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
main .sec-news h4 {
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  display: flex;
  font-size: 2rem;
}
main .sec-news form > input {
  border-style: none;
  border-radius: 1.6rem;
<<<<<<< HEAD
  font-size: 1rem;
  padding: 1.5rem 0.8rem;
=======
  font-size: 1.4rem;
  height: 4rem;
  padding: 1.5rem 0.8rem;
  width: 27rem;
>>>>>>> mobile
}
main .sec-news input[type=submit] {
  background-color: #3c2313;
  color: #ffffff;
}
main .information {
  align-items: center;
  background-color: #3c2313;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}
main .information .topics {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
main .information .topics .topic {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
}
main .information .topics .topic img {
  background-color: #786960;
  border-radius: 50%;
  display: block;
  width: 6.6rem;
}
main .information .topics .topic .info-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 1rem;
}
main .information .topics .topic .info-item h4 {
  font-size: 2rem;
}
main .information #bottom-cat-dog {
  color: #f0a83e;
  font-size: 2rem;
  font-weight: 700;
}
main .information #bottom-cat-dog .btm-cat-dog {
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */