@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Archivo para aplicar Estilos CSS Mobile First */
:root {
  --bgc-header1: #f0a83e;
  --bgc-boton-reset: #8a8787;
  --bgc-boton-suscribe: #3c2313;
  --bgc-emoji-pin: #786960;
  --black-par: #222222;
  --text-c-par: #f3f3f3;
  --text-white: #ffffff;
  --anchor-feat: #666666;
}
$html-font-size: 62.5%;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: $html-font-size;
}
body {
  color: var(--text-white);
  font-family: "Roboto";
  font-size: 1.6rem;
  .section-promo {
    display: none;
  }
}
header {
  align-items: center;
  background-color: var(--bgc-header1);
  display: flex;
  justify-content: space-between;
  height: 6.2rem;
  padding: 2rem;
  width: 100%;
  #cat-dog {
    align-items: center;
    color: var(--text-white);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    img {
      display: block;
    }
    span {
      color: var(--bgc-boton-suscribe);
    }
  }
  .top-nav {
    display: none;
  }
}
main {
  .main-article {
    align-items: center;
    background-image: url("../img/Full_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    height: 440px;
    width: 414px;

    .div-main-article {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .subtitle {
        h2 {
          background-color: var(--text-white);
          border-radius: 1rem;
          color: var(--bgc-boton-suscribe);
          font-size: 2.5rem;
          font-weight: 400;
          height: 5.4rem;
          padding: 2rem 1.5rem;
        }
        p {
          color: var(--bgc-boton-suscribe);
          font-size: 1.6rem;
          padding: 1rem 0;
          text-align: center;
        }
      }
      .article-a {
        background-color: var(--bgc-header1);
        border-radius: 1rem;
        color: var(--text-white);
        padding: 1.6rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  .featured-products {
    align-items: center;
    display: flex;
    flex-direction: column;
    h1 {
      color: var(--bgc-boton-suscribe);
      font-size: 4rem;
      text-align: center;
    }
    margin-top: 2rem;
    nav {
      margin-top: 3rem;
    }
    nav > ul {
      align-items: center;
      display: flex;
      justify-content: space-around;
      li {
        list-style-type: none;
        padding-right: 1rem;
        a {
          text-decoration: none;
        }
        a:link,
        a:visited {
          color: var(--anchor-feat);
        }
      }
    }
    .cards {
      align-items: center;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      margin-top: 2rem;
      row-gap: 3rem;
      text-align: center;
      .product {
        h3 {
          color: var(--bgc-boton-suscribe);
        }
        p {
          color: var(--bgc-header1);
          font-size: 1.6rem;
        }
      }
    }
  }
  width: 100%;
  .section-contact {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 5rem;
  }
  .section-contact > form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 26rem;
    justify-content: center;
    row-gap: 1rem;
    h3 {
      color: var(--bgc-boton-suscribe);
      font-size: 4rem;
      font-weight: 700;
      margin: 2rem auto;
    }
    input {
      background-color: var(--bgc-boton-suscribe);
      font-size: 1rem;
      padding: 0.8rem 1rem;
      width: 90%;
    }
    input,
    button {
      border-radius: 2rem;
      color: var(--text-white);
    }
    ::placeholder {
      color: var(--text-white);
    }
    .buttons {
      align-items: center;
      column-gap: 1rem;
      display: flex;
      justify-content: space-between;
      height: 45px;
      margin-top: 2rem;
      width: 100%;
      #btn-reset {
        background-color: var(--bgc-boton-reset);
        font-size: 1.6rem;
        height: 45px;
        padding: 0.8rem 1rem;
        width: 50%;
      }
      #in-send {
        background-color: var(--bgc-header1);
        font-size: 1.6rem;
        height: 45px;
        width: 50%;
      }
    }
    width: 100%;
  }
  .sec-news {
    align-items: center;
    background-color: var(--bgc-header1);
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: space-around;
    margin-top: 5rem;
    padding: 2rem;

    h4 {
      align-items: center;
      column-gap: 1rem;
      display: flex;
      font-size: 2rem;
    }
    form {
      align-items: center;
      display: flex;
      column-gap: 1.2rem;
      justify-content: space-between;
      width: 100%;
    }
    form > input {
      border-style: none;
      border-radius: 1.6rem;
      font-size: 1.4rem;
      height: 4rem;
      padding: 1.5rem 0.8rem;
      width: 27rem;
    }
    form > input[type="submit"] {
      background-color: var(--bgc-boton-suscribe);
      color: var(--text-white);
    }
  }
}
