@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Archivo para aplicar Estilos CSS Mobile First */
:root {
  --bgc-header1: #f0a83e;
  --bgc-boton-reset: #8a8787;
  --bgc-boton-suscribe: #3c2313;
  --bgc-emoji-pin: #786960;
  --black-par: #222222;
  --text-c-par: #f3f3f3;
  --text-white: #ffffff;
  --anchor-feat: #666666;
}
$html-font-size: 62.5%;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: $html-font-size;
}
body {
  color: var(--text-white);
  font-family: "Roboto";
  font-size: 1.6rem;
  .section-promo {
    display: none;
  }
}
header {
  align-items: center;
  background-color: var(--bgc-header1);
  display: flex;
  justify-content: space-between;
  height: 6.2rem;
  padding: 2rem;
  width: 100%;
  #cat-dog {
    align-items: center;
    color: var(--text-white);
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    img {
      display: block;
    }
    span {
      color: var(--bgc-boton-suscribe);
    }
  }
  .top-nav {
    display: none;
  }
}
main {
  .main-article {
    align-items: center;
    background-image: url("../img/Full_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    height: 440px;
    width: 414px;

    .div-main-article {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .subtitle {
        h2 {
          background-color: var(--text-white);
          border-radius: 1rem;
          color: var(--bgc-boton-suscribe);
          font-size: 2.5rem;
          font-weight: 400;
          height: 5.4rem;
          padding: 2rem 1.5rem;
        }
        p {
          color: var(--bgc-boton-suscribe);
          font-size: 1.6rem;
          padding: 1rem 0;
          text-align: center;
        }
      }
      .article-a {
        background-color: var(--bgc-header1);
        border-radius: 1rem;
        color: var(--text-white);
        padding: 1.6rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
