@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* En este caso a partir de un diseño Mobile First */
$html-font-size: 62.5%;
/* $fondo-btn-sign: #03faee;
$fondo-article: #f9f9f8;
$primer-parrafo: #8b8fa5; */

/* Agregados por mi*/
$bgc-header: #f0a83e;
$bgc-btn-reset: #8a8787;
$bgc-btn-suscribe: #3c2313;
$bgc-section-info: #3c2313;
$black-bg-par: #222222;
$text-c-par: #f3f3f3;
$text-c-header: #ffffff;
$main-title-color: #3C2313;
$cat-dog-footer-color:#F0A83E;
$anchor-featured:#666666;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: $html-font-size;
}
body {
  font-family: "Roboto";
  font-size: 1.8rem;
  .section-promo {
    background-color: $black-bg-par;
    color: $text-c-par;
    display: flex;
    justify-content: space-between;
    p:first-child {
      align-items: center;
    }
    padding: 1.5rem 1rem;
  }
}
header {
  align-items: center;
  background-color: $bgc-header;
  display: flex;
  justify-content: space-evenly;
  height: 6.2rem;
  padding: 2rem 0;
  width: 100%;
  #cat-dog {
    align-items: center;
    color: $text-c-header;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    img {
      display: block;
    }
    span {
      color: $bgc-section-info;
    }
  }
  .top-nav > ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style-type: none;
      padding-right: 2rem;
      a {
        color: $text-c-header;
        text-decoration: none;
      }
      a:link,
      a:visited {
        color: $text-c-header;
      }
    }
  }
}
main {
  .main-article {
    align-items: center;
    background-image: url("../img/bowl-and-pet-daities-on-green-background\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    height: 41rem;
    width: 100%;
    .div-main-article {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .subtitle {
        h2 {
          background-color: #fff;
          border-radius: 1rem;
          padding: 2rem 1.5rem;
        }
        p {
          padding: 1rem 0;
          text-align: center;
        }
      }
      .article-a {
        background-color: $bgc-header;
        color: $text-c-header;
        padding: 1.6rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  .featured-products{
    align-items: center;
    display: flex;
    flex-direction: column;
    h1{
      color:$bgc-btn-suscribe;
      font-size:4rem;
    }
    margin-top:2rem;
    nav>ul{
      align-items: center;
      display: flex;
      justify-content: space-around;
      li{
        list-style-type: none;
        padding-right: 1rem;    
        a{
          text-decoration: none;
        }
        a:link,a:visited{
          color:$anchor-featured;

        }
      }
    }
    .cards{
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 3rem;
      text-align: center;
      .product{
        p{
          color:$cat-dog-footer-color;
        }
      }
    }
  }
  width: 100%;
}
